#fah_list { font-size: 12px; line-height: 16px; color: rgb(82, 79, 79); }
body { background-color: rgb(252, 241, 213); margin: 0px; padding: 0px; }
#qdemo { margin: 0px; overflow: hidden; width: 98%; height: 150px; text-align: center; }
